@font-face {
    font-family: 'ArialBlack';
    src: url('../fontsArial-Black.eot');
    src: url('../fontsArial-Black.eot?#iefix') format('embedded-opentype'),
        url('../fontsArial-Black.woff2') format('woff2'),
        url('../fontsArial-Black.woff') format('woff'),
        url('../fontsArial-Black.ttf') format('truetype'),
        url('../fontsArial-Black.svg#Arial-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

