/* Настройка шрифтов */
@import url('fonts.css');
%ArialBlack {
	font-family: 'ArialBlack', sans-serif;
	font-weight: 900;
}
%Arial {
	font-family: 'Arial', sans-serif;
	font-weight: 400;
}
%ArialBold {
	font-family: 'Arial', sans-serif;
	font-weight: 700;
}

/* Цвета */
$light-gray: #ededed;			//светло-серый
$gray: 			 #cccccc;			//серый
$dark-gray:  #6e6e6e;			//темно-серый
$yellow: 		 #ffec00;			//желтый

/* Базовые настройки */
body {
	@extend %Arial;
	color: #000;
	a {
		text-decoration: none;
		color: #000;
	}
	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}
	.container {
		max-width: 1200px;
		margin: 0 auto;
	}
}
.plug {
	width: 100%;
	height: 400px;
	margin: 20px 0;
	background-color: gray;
}


/* Header */
.header {
	width: 100%;
}

/* верхнее меню */
.header-menu {
	width: 100%;
	background-color: $light-gray;
	border-bottom: 1px solid $gray;


	&__nav {
		display: flex;
		justify-content: space-between;
	}

	&__list,
	&__auth {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		display: inline-block;
		font-size: 13px;
		line-height: 16px;
		padding: 10px;

		&:hover:not(.header-menu__item_active) {
			background-color: #fff;
		}

		&_active {
			position: relative;
			color: $gray;
			cursor: default;

			&::after {
				position: absolute;
				display: block;
				content: "";
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				border-top: 4px solid transparent;
				border-bottom: 4px solid $gray;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
			}
		}
	}
}

/* информационный блок */
.header-info {
	padding: 20px 0;

	&__wrap {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__inner {
		padding: 5px 0;
	}

	&__logo {
		margin-bottom: 5px;
	}

	&__desc {
		font-size: 12px;
		line-height: 18px;
		color: $dark-gray;
	}

	&__about {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	&__text {
		position: relative;
		max-width: 240px;
		min-width: 200px;
		padding-left: 35px;
		font-size: 14px;
		line-height: 18px;

		i {
			position: absolute;
			top: 0;
			left: 0;
			font-size: 30px;
			color: $gray;
		}

		span {
			@extend %ArialBold;
		}
	}

	&__contacts {
		font-size: 18px;
		line-height: 24px;
	}

	&__call-back {
		position: relative;
		@extend %ArialBold;
		display: inline-block;
		font-size: 11px;
		line-height: 18px;
		text-transform: uppercase;
		background-color: $yellow;
		padding: 5px 10px;
		margin-top: 10px;

		&::before {
			position: absolute;
			display: block;
			content: "";
			top: -8px;
			left: 50%;
			transform: translateX(-50%);
			border-top: 4px solid transparent;
			border-bottom: 4px solid $yellow;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
		}
	}
}

/* каталог и инструменты пользователя */
.header-tools {
	border-top: 3px solid $light-gray;
	border-bottom: 2px solid $light-gray;

	&__wrap {
		position: relative;
		display: flex;
		justify-content: space-between;
	}

	.catalog {
		&__btn {
			position: relative;
			@extend %ArialBold;
			display: block;
			width: 140px;
			font-size: 16px;
			text-transform: uppercase;
			padding: 15px 20px;
			background-color: $light-gray;
			transition: .1s;

			&::after {
				position: absolute;
				display: block;
				content: "";
				right: 20px;
				top: 20px;
				border: 6px solid transparent;
				border-top: 6px solid #000;
				transition: .1s;
			}
		}

		&:hover .catalog__btn {
			background-color: $yellow;
		}

		&:hover .catalog__btn::after {
			transform: rotate(-90deg) translate(3px, 3px);
		}

		&__type-list {
			display: none;
			// display: flex;
			position: absolute;
			top: 0;
			left: 140px;
		}

		&__type-name {
			display: inline-block;
			position: relative;
			@extend %ArialBold;
			font-size: 14px;
			text-transform: uppercase;
			padding: 16px 20px;
			background-color: $light-gray;
			transition: .1s;

			&:hover {
				background-color: #000;
				color: $yellow;
			}

			&:hover::after {
				position: absolute;
				display: block;
				content: "";
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				border-top: 6px solid transparent;
				border-bottom: 6px solid #fff;
				border-left: 9px solid transparent;
				border-right: 9px solid transparent;
			}
		}

		&:hover .catalog__type-list {
			display: flex;
		}

		.catalog__type-list li:hover .catalog__item-wrap {
			display: flex;
		}

		.catalog__type-list li:hover .catalog__type-name {
			background-color: #000;
			color: $yellow;

			&::after {
				position: absolute;
				display: block;
				content: "";
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				border-top: 6px solid transparent;
				border-bottom: 6px solid #fff;
				border-left: 9px solid transparent;
				border-right: 9px solid transparent;
			}
		}

		&__item-wrap {
			display: none;
			// display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			position: absolute;
			top: 100%;
			left: -140px;
			width: 1200px;
			padding: 30px;
			background-color: #fff;
		}

		&__item-list {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			li {
				position: relative;
				margin-bottom: 20px;
				width: 190px;
				height: 160px;
				text-align: center;

				&:hover .catalog__item-bg {
					position: absolute;
					display: flex;
					justify-content: space-around;
					align-items: center;
					background-color: rgba(255, 236, 0, .8);
					bottom: 0;
					width: 100%;
					height: 100%;

					&::after {
						position: absolute;
						display: block;
						content: "";
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);
						border-top: 6px solid transparent;
						border-bottom: 6px solid #fff;
						border-left: 9px solid transparent;
						border-right: 9px solid transparent;
					}
				}

				&:hover .catalog__item-link {
					display: inline-block;
					width: 160px;
					top: 50%;
					font-size: 14px;
					line-height: 18px;
					padding: 10px;
					border: 2px solid #000;
				}
			}
		}

		&__item-img {
			width: 180px;
			height: 120px;
		}

		&__item-link {
			@extend %ArialBold;
			font-size: 12px;
			line-height: 14px;
			text-transform: uppercase;
			text-align: center;
		}

		&__extra-list {
			display: flex;
			justify-content: flex-start;
			padding: 20px;
			background-color: $light-gray;

			li {
				display: flex;
				flex-flow: column;
				justify-content: space-around;
				align-items: center;
				width: 190px;
				height: 100px;
				margin-right: 20px;
				text-align: center;
				background-color: #fff;
			}

			img {
				width: 66px;
				height: 55px;
			}
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.user-tools {
		display: flex;
		justify-content: space-between;
	}
}



/* адаптив */
@media screen and (max-width: 1220px) {
	.container {
		padding: 0px 10px;
	}
}

@media screen and (max-width: 1024px) {
}

@media (max-width: 768px) {
	.header-menu {
		/* кнопка меню */
		&__btn {
			position: fixed;
			top: 0;
			left: 0;
			width: 40px;
			height: 40px;
			z-index: 30;
			background-color: $gray;
			cursor: pointer;
	
			&:hover {
				background-color: $dark-gray;
			}
		}
	
		&__lines,
		&__lines::before,
		&__lines::after {
			position: absolute;
			width: 20px;
			height: 2px;
			background-color: #000;
			transition: .4s;
		}
	
		&__lines {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
	
			&::before {
				content: "";
				bottom: 5px;
			}
	
			&::after {
				content: "";
				top: 5px;
			}
		}
	
		&_active .header-menu__btn,
		&_active .header-menu__lines {
			background-color: transparent;
		}

		&_active .header-menu__lines {
			&::before {
				transform: rotate(45deg);
				bottom: 0;
			}
	
			&::after {
				transform: rotate(-45deg);
				top: 0;
			}
		}
	
		/* панель навигиции */
		&__nav {
			position: fixed;
			padding-top: 40px;
			z-index: 20;
			display: flex;
			flex-flow: column;
			height: 100%;
			background-color: $light-gray;
			overflow-y: auto;
			left: -100%;
			transition: .5s;
		}
	
		&_active .header-menu {
			&__nav {
				left: 0;
				border-right: 1px solid $gray;
			}
		}
	
		&__list,
		&__auth {
			display: flex;
			flex-flow: column;
		}
	
		&__auth {
			background-color: $gray;
		}
	
		&__item {
			display: block;
			font-size: 18px;
			line-height: 24px;
			padding: 5px 10px;
			width: 100%;
	
			&:hover:not(.header-menu__item_active) {
				background-color: #fff;
			}

			&_active::after {
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				border-top: 7px solid transparent;
				border-bottom: 7px solid transparent;
				border-left: 4px solid transparent;
				border-right: 4px solid $gray;
			}
		}
	
		&__overlay {
			position: fixed;
			display: none;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
		}
	
		&_active .header-menu__overlay {
			display: block;
			background-color: rgba(0, 0, 0, .1);
		}
	}

	.header-info {
		margin-top: 30px;

		&__wrap {
			margin: 0 auto;
			justify-content: space-around;
		}

		&__inner {
			margin-bottom: 20px;
		}

		&__about {
			justify-content: space-around;
		}
	}
}

@media (max-width: 425px) {
	.header-info {
		&__about {
			justify-content: center;
			flex-flow: column;
		}

		&__text {
			margin-bottom: 20px;
			width: 100%;
		}
	}
}

@media (max-width: 425px) {}

@media (max-width: 320px) {}